@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }

html, body, #__next { height: 100%; }

.container-prose p { @apply text-slate-700 dark:text-slate-200; }
